# Core dependencies
numpy==1.26.4
requests==2.32.3
streamlit==1.38.0

# Audio processing
soundfile==0.13.1
streamlit-audiorecorder==0.0.6

# Display support (for IPython display in notebooks)
ipython==9.1.0

# Supabase client
supabase==2.8.1

# Kokoro speech/audio pipeline
kokoro==0.9.4
torch==2.2.2

spacy==3.7.0
# en-core-web-sm==3.7.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

